@import './colors.css';
@import './media.css';
@import './variables.css';

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
}

input, textarea, select {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: var(--color-green-50);
}
