@import '../../variables.pcss';

.content {
  text-align: center;
}

.logo {
  margin: auto;
  width: 15rem;
}

.text {
  font: 2rem sans-serif;
}

.controls {
  margin-top: 5rem;
  
  & > button {
    margin-right: 0.25rem;
  }
}
